[2020-03-15 13:00] fabiang opened #1 "Docker integration"
Any ideas how to integrate this with Docker?

I need something that recognizes when a container starts and add then a hostname to the hosts file with the ip of the container (maybe the project name from docker-compose). Would be fantastic to automate, so I don’t have to remember all the service names and there port redirections.

[2020-03-15 14:28] guumaster commented on #1
I was thinking something similar with Kubernetes too. Maybe it can also be applied to docker too.

[2020-03-15 15:32] fabiang commented on #1
Maybe we can create an image which mounts the host file and add the project IPs once it started? I think docker-compose can pass the project name into the container. Question is then, how to handle the project shutdown.

Gonna try to figure out some things now and gonna write my idea here.

[2020-03-21 21:50] pacodes opened #5 "Remove domains command"
Proposing add subcommands:
- remove domains [-p profile] [-all] - will remove by name in profile (-p) or hosts file (-all)
- remove ip [-p profile] [-all] - will remove by IP in profile (-p) or hosts file (-all)

[2020-03-23 08:24] guumaster commented on #5
I'm ok with that subcommand as long as follow some ideas I had when creating the tool:

- **'default' profile shouldn't be touched by `hostctl`**. It should only manage profiles created with the tool.
- **all domains in a profile should have the same IP**, if you need different IP, create a new profile

The second idea is not enforced yet because the parser is too simple, but at some point it shou

[2020-03-23 16:25] thesecmaestro opened #6 "Acces denied as admin on win10"
hostctl set -p mdserver --from c:\script\hostctl\mdserver_hosts.txt
Using hosts file: C:\Windows\System32\Drivers\etc\hosts
Error: truncate C:\Windows\System32\Drivers\etc\hosts: Access is denied.

[2020-03-23 17:04] guumaster commented on #6
You need to run it as administrator. Same as linux, only admins have permission to edit hosts file.

Can you confirm it works if you run it as administrator?

Thanks for reporting the issue.

[2020-03-24 15:38] thesecmaestro commented on #6
No it does not work, i ran it as administrator as the title of the bug stated. I got the truncate error while running as administrator

[2020-03-24 17:47] guumaster commented on #6
I've setup my windows and test it. It was too buggy. I made some fixes and now you should be able to use it. Try version v0.5.0.

I'm closing this one. Please feel free to reopen if you find anything else.

Thanks! :tada:

[2020-03-24 17:47] #6 closed

[2020-03-24 20:29] guumaster opened #8 "Add contributors"
@all-contributors please add @pacodes for tests and code

[2020-03-24 20:29] guumaster commented on #8
@all-contributors please add @gkze for code

[2020-03-24 20:30] guumaster commented on #8
@all-contributors please add @BarbUk for code

[2020-03-24 20:31] guumaster commented on #8
@all-contributors please add @pacodes for tests and code

[2020-03-25 00:53] lsanotes opened #13 "Any plan to put it on HomeBrew?"

[2020-03-25 08:02] guumaster commented on #13
I'd like that. But I don't have a mac and never used `brew` before,  so I'd be hard to test it for me.

I'll check how it is done and try to do it. Of course, this is open for PRs too.

[2020-03-25 10:59] guumaster opened #14 "Test different installations"
There is a Github Action workflow that automatically generates packages for different systems. I can only test on Linux and Windows, so I need help to test all options:

- [x] Linux/Mac/Window binary
- [x] deb package
- [x] AUR package
- [x] scoop
- [x] Brew tap
- [x] snap (pending add feature to work properly)

Please add comments if you have tested it any version of this list. Thanks!

**UPDATE*

[2020-03-25 10:59] guumaster commented on #14
@BarbUk Can you confirm that it can be installed on Arch Linux? thanks

[2020-03-25 11:10] guumaster commented on #13
@lsanotes I've added a "Brew Tap" to the GoReleaser script. But I don't have `brew` to test it.

You can help with it by adding a comment (or PR!) with the steps to do it. Report it here or in #14, that is created specifically for installations.

Thanks!

[2020-03-25 14:03] BarbUk commented on #14
For the last release, I don't see an archlinux package:
![image](https://user-images.githubusercontent.com/64371/77544265-3deeea80-6ec2-11ea-8ade-41eee7278b4d.png)

`hostctl_0.5.1_linux_64-bit.tar.gz` is a linux binary that works on archlinux.

The package from https://aur.archlinux.org/packages/hostctl/ is built from the source code.
Do you have an option in your Github Action workflow to support

[2020-03-25 14:15] guumaster commented on #14
I can't find anything to automate it with Github. Did you create v0.5.1 manually or automatically? If it was automatically, I'm ok with it.

I have no experience with AUR, if you can elaborate how it is done, or point to a guide on how you did it, it'd be apreciated.

[2020-03-25 22:17] pacodes commented on #14
Mac binary works

[2020-03-26 03:22] fivesmallq commented on #14
`hostctl_0.5.1_macOS_64-bit.tar.gz` works fine on macOS 10.15.3

[2020-03-26 06:19] BarbUk commented on #14
It's created automatically via a pkgbuild.
The release is updated manually (release number and corresponding sha256).

See the pkgbuild here for info: https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=hostctl
Updates done are visible here: https://aur.archlinux.org/cgit/aur.git/log/?h=hostctl

We can automate archlinux package creation to publish in your release page, but the package submissi

[2020-03-26 08:55] guumaster commented on #14
@BarbUk thanks for the info and patience :+1:

Understood, so, what part can I do on this repo to simplify your submission to AUR? Which file should be generated?

Thanks! I've used Arch and AUR before, but never created a package myself.

[2020-03-26 09:10] #5 closed

[2020-03-26 09:34] pacodes commented on #13
@guumaster This is brew install output
[code]

[2020-03-26 09:38] guumaster commented on #13
It's not in the core, you need to add the tap. Try this:

`brew tap guumaster/hostctl https://github.com/guumaster/hostctl`

Then you can `brew install hostctl`

[2020-03-26 10:28] pacodes commented on #13
brew tap works

[2020-03-26 10:31] #13 closed

[2020-03-26 10:33] devopsbrett commented on #14
Hi, firstly let me thank you for a great tool, love it. Regarding #13 the current setup doesn't really follow brew best practices. You should create a new repo called homebrew-hostctl and place your Formula directory there (I know, seems pointless to create a whole repo just for that). With this change people would be able to run `brew tap guumaster/hostctl`. I can issue a pull request for the cha

[2020-03-26 10:40] guumaster commented on #14
thanks @devopsbrett. Please feel free to add the issue and I'll create the new repo to improve `brew` installation.

[2020-03-26 11:03] devopsbrett opened #15 "Installation via brew"
Hi, to remain in line with other projects that provide a brew tap might I suggest creating another repo called `homebrew-tap`. This would allow you a central point for all your homebrew formulae (I hope you go on to create more projects, this one is great) as well as allowing users to install hostctl as well as subscribe to your tap with a single command `brew install guumaster/tap/hostctl`. This

[2020-03-26 11:05] guumaster commented on #15
I've created the new repo. Now I'll see how to change the Github Action to publish to it.

[2020-03-26 11:08] devopsbrett commented on #15
Sorry, there was a slight change to my initial naming scheme. I was following the style used by github/gh but I feel the implementation used by goreleaser is better so the repo should now be called `homebrew-tap`

[2020-03-26 11:17] guumaster commented on #15
thanks, already renamed.

[2020-03-26 11:25] devopsbrett commented on #15
If you could leave this issue open for a little bit I'll post a gif showing the install procedure using the new repo

[2020-03-26 11:25] guumaster commented on #8
@all-contributors please add @devopsbrett  for code

[2020-03-26 11:30] guumaster commented on #15
Ok, but it's not yet working, as the workflow don't have permissions to push to the separate repo. I'm checking how to fix it.

[2020-03-26 12:29] guumaster commented on #8
@all-contributors please add @devopsbrett  for code

[2020-03-26 12:34] guumaster commented on #8
@all-contributors please add @devopsbrett for code

[2020-03-26 12:36] guumaster commented on #15
The new repo is created and populated automatically on [guumaster/homebrew-tap](https://github.com/guumaster/homebrew-tap).

Can you try installing it from there?

Thanks for your contribution! :tada:

[2020-03-26 15:34] devopsbrett commented on #15
Hi @guumaster, nice work. That all seems to be working well
![hostctl](https://user-images.githubusercontent.com/4403441/77665247-4e14d180-6f77-11ea-80c5-e5972d4a8553.gif)

[2020-03-26 15:39] #15 closed

[2020-03-27 05:57] BarbUk commented on #14
For the moment, I watch your repo to be notified when a new release is available and update the PKGBUILD.

I use a script, so it's definitely automatisable.
You just need a private key to be able to push to aur:

[code]

[2020-03-27 09:56] guumaster commented on #14
@BarbUk I've created an account on AUR and uploaded my ssh key. Can you add me as maintainer on hostctl repo so I can try to automate it? Thanks.

[2020-03-27 10:01] BarbUk commented on #14
Done: https://aur.archlinux.org/packages/hostctl/

![image](https://user-images.githubusercontent.com/64371/77744719-73671580-7033-11ea-9aff-9c779f61df20.png)

[2020-03-27 18:00] guumaster commented on #14
@BarbUk after a long while of trial/error I was finally able to automate it :sweat:

I've created a new **Github Action** to manage the whole process, you can check it [here](https://github.com/guumaster/aur-publish-docker-action) in case you are interested on reading it or even improving it. (needs a bit of polishing and docs, but it works).

[2020-03-27 18:05] guumaster opened #18 "panic when adding from a file that doesn't exists"
**Describe the bug**
If you try to add a profile from a file that doesn't exists, it panic.

**Expected behavior**

Check for the source file and fail more gracefully on missing file.

**Additional context**
Error:
[code]

[2020-03-28 06:19] BarbUk commented on #14
Looks good, thanks for taking the time to fully automate it.

[2020-03-30 15:07] guumaster commented on #8
@all-contributors please add @spekulatius for code and docs

[2020-03-30 16:08] spekulatius commented on #14
Can confirm it works on elementary OS 5 using the deb file.

[2020-03-30 16:25] guumaster commented on #1
I'm reading a bit about the way you can get `docker` and `docker-compose` container IPs. Maybe we can do a simple version that just read from docker and sync a profile with docker IPs.

The command I'm using to test is this:
[code]

From Go is easy to read/parse that info (it can be exported as JSON even), and setup a profile based from that info. I'll give it a try.

[2020-03-31 09:27] guumaster opened #22 "New features"
Thinks I'd like to add:

  * [ ] `hostctl sync k8s -n namespace -p profile`
  * [ ] `hostctl sync minikube -p profile`
  * [x] `hostctl sync docker -p profile`
  * [x] `hostctl sync docker-compose -f docker-compose.yml -p profile`

Also with a `--watch` flag to monitor and react to changes

[2020-03-31 17:13] guumaster opened #23 "Add support to stdin input as workaround for snap strict confinement"
The snap package is published on a `strict` confinement and cannot read any file outside it, so the input `--from /any/file` is a problem.

A workaround is to accept stdin input instead. Ex: `hostctl add -p some < /path/to/file`.

[2020-03-31 19:22] guumaster opened #24 "simple logo"
tools with logo are better than tools without it. I have less than zero skills to do it.

If anyone have some idea of a minimal and simple logo that can match with the features of this CLI tool, is welcome to create a PR and add ideas, images or designs.

[2020-03-31 19:35] guumaster opened #25 "add static doc site with Hugo generator"
choose a template and create a simple layout with all the doc and examples.

[2020-04-01 12:08] BarbUk commented on #22
- [ ] shell completion for available flag / command
- [ ] shell completion for available domains for `remove domains` and `set domains` commands
- [ ] shell completion for `-p, --profile` flag value (i.e., profile available in user hosts).

A common use-case is to add a command like:
[code]

This command can be eval from the user shell dotfile and output the completion for the selected shell.

To

[2020-04-01 13:45] guumaster commented on #22
I like that about autocomplete and show columns.

Not sure I understand the `--batch` flag

[2020-04-01 13:52] BarbUk commented on #22
Like mysql:

It would be used to remove the decoration of the output.

[code]

[code]

[2020-04-01 14:05] guumaster commented on #22
Oh I see, I'm not sure if `batch` is the best name, but the feature may be useful.

[2020-04-01 16:25] BarbUk commented on #22
or `--output raw`

The use case for the output without a table decoration is:
 - use it for completion
 - use it to pipe in other unix tool (awk / grep / less ...)

So I don't know if a preference in a file is needed for that.

Cobra seem to provide ressources to generate completion, there is some documentation available here: https://github.com/spf13/cobra/blob/master/bash_completions.md

[2020-04-02 19:36] guumaster commented on #25
Added as a `docs` branch and published to [hostctl](https://guumaster.github.io/hostctl/)

[2020-04-02 19:36] #25 closed

[2020-04-03 16:20] guumaster opened #26 "raw output and column selection"
* [ ] add `--raw` flag to output list without any line or separators
* [ ] add `--column` flag to select which column to show on lists.

_Originally posted by @BarbUk in https://github.com/guumaster/hostctl/issues/22#issuecomment-607352372_

[2020-04-03 16:28] #26 closed

[2020-04-03 17:07] #18 closed

[2020-04-03 17:09] #23 closed

[2020-04-03 20:05] guumaster opened #29 "CLI autocompletion"
Create commands and subcommands to enable autocompletion:

`hostctl completion bash`
`hostctl completion zsh`

[2020-04-03 20:07] guumaster commented on #22
@BarbUk I've implemented `--raw` output and `--column` selection, but after reading the guides on autocompletion for `cobra` I cannot make it work. If you want to give it a try, there is an open branch/PR #28 that you can start from

[2020-04-07 14:04] smhmd commented on #24
btw, the logo is smashed, in my case, using a condensed font `Iosevka`.

**st**
![image](https://user-images.githubusercontent.com/46059092/78678470-e8163b80-78e0-11ea-9d53-6fc82f93968c.png)

**termite**
![image](https://user-images.githubusercontent.com/46059092/78678527-f95f4800-78e0-11ea-8e71-987b9b6ecd46.png)

[2020-04-07 14:06] smhmd opened #30 "Minimal Output"
**Is your feature request related to a problem? Please describe.**
I use `/etc/hosts` to block websites during work and it exceeds 20,000 lines. When listing profiles, it all gets outputted.

**Describe the solution you'd like**
I would love there to be a minified output flag (through persistent configuration? `hostctl config minimal`)

**Describe alternatives you've considered**
outputting to `/d

[2020-04-07 14:19] smhmd opened #31 "Profile Groups"
**Is your feature request related to a problem? Please describe.**
I use `/etc/hosts` to block websites during work. for example, I block youtube, twitter, ycombinator, etc. I would love to have profiles for individual websites (e.g., `sudo hostctl enable -p youtube`) but at the same time have a group of profiles that I can manipulate all at once (e.g., `sudo hostctl disable -p socialmedia`).

**D

[2020-04-07 14:27] smhmd opened #32 "Wait Flag"
**Is your feature request related to a problem? Please describe.**
blocking websites to work, I sometimes need to use a website for a limited amount of time to not sidetrack. Do you think it would be useful to add a time flag?

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
[code]

[2020-04-07 17:34] guumaster commented on #31
Not sure if I understand the request correctly. Profiles are already groups of urls. You can add YouTube, twitter and such to a social media group:

[code]
And then enable/disable all together

[2020-04-07 17:37] guumaster commented on #30
We can add a `-q` to silence output.

Also I'm thinking about a config file so users can  tweat default behavior

[2020-04-07 17:38] guumaster commented on #24
Oh, good catch. Spaces between should fix that. Thanks!

[2020-04-07 17:41] guumaster commented on #32
I was thinking on something similar like `--wait` to keep the command running and stop on `CRTL+c`, but it could also accept a time parameter. I like the idea

[2020-04-07 19:05] smhmd commented on #31
As I've said, I'm not using `hosts` to manage a server or anything, I'm using `hosts` to block websites when I wanna focus on work or block NSFW material. My idea was to have a master profile for individual profiles. To block Twitter I have the following in `hosts`:
[code]
And that's the same for most other websites. It only makes sense to have profiles for these websites as they aren't a single d

[2020-04-07 19:55] smhmd commented on #30
Great. I also think a command for on/off profiles could be useful.
[code]
This is much easily scripted as I want to make a `dmenu` script for turning profiles on and off.

[2020-04-07 19:59] smhmd commented on #30
effectively, `hostctl list --raw -c profile,status | uniq`.

[2020-04-07 20:01] smhmd commented on #30
**just an idea, not really a feature request:**
How about `hostctl toggle` along side `enable` and `disable`?

[2020-04-07 20:05] guumaster commented on #31
you can also add all your blocks into a file, for example `$HOME/block-etchost`, and block all once with a single command:

[code]
And all would be added easily.

Also, if all have the same IP, you can do with a single command: `hostctl add domain  facebook.com twitter.com -p socialmedia` (defaults to localhost ip), but it would be a long command if you have too many domains.

[2020-04-07 20:07] guumaster commented on #30
What would be the meaning of `-m`?  menu? not sure I get it.

The `toggle` idea could be useful

[2020-04-08 01:41] #31 closed

[2020-04-08 01:46] smhmd commented on #30
the `-m` is for minimal.

I'm not sure if that's an extension of what I was alluding to. But, I agree. Different modes for enabling/disabling can be very handy.

I suggested `toggle` just to ease with the cognitive load and make use of commands from history.

Another mere suggestion and not a feature request is having `hostctl list --on`/`hostctl list --off` to list only on or off profiles.

[2020-04-08 10:26] guumaster commented on #8
@allcontributors add @BarbUk and @smhmd for ideas

[2020-04-08 10:34] guumaster commented on #8
@allcontributors add @smhmd for ideas

[2020-04-08 12:13] guumaster commented on #1
@fabiang this already implemented on `v0.7.0`. You can sync with Docker and Docker Compose.

Give it a try and send any feedback. Thanks!

[2020-04-08 12:15] guumaster opened #35 "Add toggle command"
As mentioned on https://github.com/guumaster/hostctl/issues/30#issuecomment-610591956 a toggle command can be used to change status on any given profile.

[2020-04-08 12:21] #30 closed

[2020-04-08 12:24] guumaster commented on #30
This issue ended up on this features:

* `hostctl list enabled` to show only enabled profiles. (also works with alias `on`)
* `hostctl list disabled` to show only disabled profiles. (also works with alias `off`)
* `hostctl status` to show only one profile name per line and its status

Thanks for your contribution @smhmd!

[2020-04-08 12:26] guumaster commented on #8
@allcontributors add @fabiang for ideas

[2020-04-08 12:27] #8 closed

[2020-04-08 14:50] #35 closed

[2020-04-08 15:43] smhmd opened #37 "Profiles as default argument in commands"
Why not just have profiles the default argument in commands?
Instead of `hostctl toggle -p awesome` you'd have `hostctl toggle awesome`? (with `-p` still working for backward compatibility)

I get that the `add` command, for instance, can be convoluted and a flag (`-p`) to clearly define profile name is a healthy pattern. But profile as a default argument is straightforward for most other commands

[2020-04-08 15:46] guumaster commented on #37
To maintain compatibility with all other commands, you need to use `--profile,-p`. But this is something I'm thinking on changing at some point, not sure.

[2020-04-08 15:58] smhmd commented on #37
profiles are First-class citizen in `hostctl`. It only makes sense to not require a flag to enter them in the first place.

`add domains` could be a flag itself: `add --domain,-d`, since it doesn't have any special flags or behavior from the `add` command, making profile default argument.

[code]

[code]

[2020-04-08 16:35] guumaster commented on #37
For now I think that for commands that make sense I could support both options:

`hostctl toggle awesome == hostctl toggle -p awesome`

When I'm done with all features that I have in mind, I'll think on this breaking change. I think it makes total sense, but it requires to change semantics on almost all commands.

[2020-04-08 20:08] smhmd opened #39 "Batch profile managment"
`hostctl enable -p awesome amazing sublime` would only enable `awesome`. Is there a way to batch manage profiles?

[2020-04-09 08:24] guumaster commented on #32
This is implemented on v0.10.0. Thanks for adding this request @smhmd! :tada:

You can use it with this examples:

[code]

[2020-04-09 08:24] #32 closed

[2020-04-09 10:49] fabiang commented on #1
I've tested it and it works, when I assume that `hostctl` is installed on my local system.

What I was trying as well, was to manipulate my hosts file once a project is started or stopped with `docker-compose`.

First I made a Dockerfile and an entrypoint script, which you can find here:
https://github.com/fabiang/hostctl/blob/docker-integration/Dockerfile
https://github.com/fabiang/hostctl/blob/d

[2020-04-09 11:53] smhmd opened #42 "Version flag"
[code]

or add it to the output of the `help` command?

[2020-04-09 12:07] smhmd opened #43 "Error on enable command"
`version: 0.10.0` (I think. Hence https://github.com/guumaster/hostctl/issues/42)

I tried `status`, `toggle`, `set`, and `disable`, they all work fine, except `enable` that outputs error on use (still works though).

[code]

[2020-04-09 16:11] smhmd commented on #32
@guumaster `wait` flag for `toggle` command?

[2020-04-09 22:05] guumaster commented on #1
I just recently added a `--wait` flag to do stuff and undo it when receives `SIGTERM`  signal.

For example:
`hostctl sync docker -p awesome --wait 0`

It will run until you send  `ctrl-c` (hence the zero, otherwise it will timeout with a duration flag)

It's not yet properly documented, but is included on the latest release.

[2020-04-09 22:07] guumaster commented on #43
Good catch. Fix is coming on next release. Also with `--wait` for toggle and better docs.

[2020-04-10 08:30] guumaster commented on #43
fixed on v0.10.2 :+1:

[2020-04-10 08:30] #43 closed

[2020-04-10 08:30] guumaster commented on #42
implemented on v0.10.2. :+1:

[2020-04-10 08:35] smhmd commented on #42
@guumaster
[code]
`dev` as a version is not helpful, because it'll be `dev` all the time, it seems. (this was true of `0.10.1` and is true now of `0.10.2`.)

[2020-04-10 08:36] smhmd commented on #32
@guumaster `--wait` without argument to assume `0`?

[2020-04-10 09:54] guumaster commented on #32
I've tried that, but with the CLI framework `cobra`, AFAIK you can't have a flag with two types (duration or bool), so I've chosen the duration option and that makes the zero mandatory to wait indefinitely.

[2020-04-10 10:41] guumaster opened #44 "Improve documentation guides"
In order to have a very thorough documentation, here you have an explanation on how the docs are automatically generated and published, and how you can contribute to improve it.

## Where to create/modify guides?

Markdown docs can be found on the `Hugo` site folder on the **[docs branch](https://github.com/guumaster/hostctl/tree/docs/docs/content/docs)**.

The path for the guides is: `docs/conten

[2020-04-10 11:45] guumaster opened #45 "Roadmap to v1.0"
The current state of the CLI and module is kind of beta(ish), is subject to small/big changes as I or the community finds it uses, requests features and I learn better ways of implementing the CLI with `cobra`.

Here are things that should be finished before reaching an stable version tag `v1.0.0`:

* [x] Add a decent amount code coverage of all files in `pkg` directory. #48
* [x] Refactor `pkg` c

[2020-04-10 11:45] guumaster commented on #22
Moving this list to #45

[2020-04-10 11:45] #22 closed

[2020-04-10 14:16] smhmd commented on #42
@guumaster Yes, I'm using the AUR: `yay -S hostctl`. If you wanna supply a `hostctl-bin` package, too, I would use it. Less carbon footprint.

[2020-04-10 18:16] smhmd opened #46 "Discussion: Interactive selection"
Does the framework you're using support interactivity of this sort?

![interactive](https://user-images.githubusercontent.com/46059092/79012822-24ef6600-7b5f-11ea-908d-d90190606f59.gif)

I could imagine a heavy use of `hostctl` profiles would call for such an interface.

[2020-04-10 18:19] smhmd opened #47 "Alphabetic sorting of profiles"
`hostctl status` gives a different sorting each time it's invoked. Could you enforce an alphabetic sorting?

This would also make names with prefixes somewhat useful if you have a good number of profiles.

[2020-04-10 18:56] guumaster commented on #47
Yes it can be sorted. I'll add it the feature list. Probably it could be a user preference too.

[2020-04-10 18:59] guumaster commented on #46
It can be done, but I'm not sure this would add much value. I'm not discarding it, but it would at the long last of the line :smile:

I will consider if it gets some upvotes :+1:

[2020-04-10 19:10] smhmd commented on #46
I think autocompletion and multiple profiles a command could nullify the need for such an interface. It makes for great visuals on a GIF, though :smile:. It is about the ease of use when you have a good number of profiles. I have 9 and I wouldn't survive without `xargs`.

[2020-04-10 19:27] smhmd commented on #47
The alphabetic sorting is just what I came up with. If the order is consistent (by when a profile was added, for instance), that would work just as well.

[2020-04-13 11:13] #37 closed

[2020-04-13 11:13] #39 closed

[2020-04-13 11:13] #47 closed

[2020-04-13 11:15] guumaster commented on #46
I'm closing this. With what's coming to v1.0 it won't be necessary.

[2020-04-13 11:15] #46 closed

[2020-04-13 11:22] guumaster commented on #1
@fabiang I'm closing this. If you think there is something that can be improved, open a new issue. Thanks!

[2020-04-13 11:22] #1 closed

[2020-04-13 11:34] guumaster opened #49 "Add `kubernetes` ingress synchronization."

[2020-04-13 11:34] guumaster opened #50 "Add `--watch` flag"
Add `--watch` flag to `sync` commands to monitor and react to changes on the origin system (docker, kubernetes, etc).

[2020-04-13 12:21] #45 closed

[2020-04-13 12:23] guumaster opened #51 "update docs for v1.0"
update docs and guides. remove -p flag.

[2020-04-13 12:50] guumaster commented on #51
done

[2020-04-13 12:50] #51 closed

[2020-04-13 14:24] guumaster opened #52 "Make profile lines keep same order"
Maps in go don't always keep same order. Change to Route map slice instead.

[2020-04-13 18:37] guumaster commented on #29
closed until `cobra` v1.1 is out.

[2020-04-13 18:37] #29 closed

[2020-04-13 19:06] guumaster commented on #42
@BarbUk do you know how to pass `-ldflags` parameter to `PKGBUILD` so the build script add the proper version to the binary?

[2020-04-13 20:15] smhmd opened #53 "Unable to handle big profile files"
**Describe the bug**
I have a profile file with 23,000 lines that used to work just fine. With `1.0.0` (and now `1.0.2`), `hostctl` no longer works.
`hostctl status` didn't work. I removed all profiles to start fresh and the big file would not be `add`ed `--from`.

**To Reproduce**
Steps to reproduce the behavior:
1. `sudo hostctl add nsfw --from` https://github.com/smhmd/dotfiles/blob/master/.con

[2020-04-14 06:23] BarbUk commented on #42
the pkgbuild is already building with -ldflags:

[code]

How do you pass the version to `go build` ?

[2020-04-14 06:40] BarbUk commented on #42
[code]

Made the change in the [pkgbuild](https://aur.archlinux.org/cgit/aur.git/commit/?h=hostctl&id=d4d8bdf01ee50a7d890367df7a8c0e1d27e7c084).

[code]

[2020-04-14 07:54] guumaster commented on #53
It does work, but it take 4 or 5 minutes if you add `-q` or not. I'll look into it.

[2020-04-14 07:57] smhmd commented on #53
For a point of reference, it was as instantaneous as you can `cat` the file in `0.x`.

[2020-04-14 08:37] guumaster commented on #53
fixed on [v1.0.3](https://github.com/guumaster/hostctl/tree/v1.0.3). tested with your example profile.

[2020-04-14 08:37] #53 closed

[2020-04-14 08:47] guumaster commented on #53
as reference, the issue was related to the uniqueness check of domains on a profile. I removed the check for now.

[2020-04-14 08:50] smhmd commented on #53
You can add it as a flag `-u,--uniq`?

[2020-04-14 10:15] #52 closed

[2020-04-14 10:16] guumaster commented on #53
added `--uniq` to v1.0.4 :+1:

[2020-04-14 10:51] BarbUk commented on #14
As per https://github.com/guumaster/hostctl/issues/42#issuecomment-612047879

Bin package is now available: https://aur.archlinux.org/packages/hostctl-bin/

@guumaster, you are co-maintainer of the package.
No modification need to be done to the github action, but you need to call it for the hostctl-bin package too.

Let me know if I can help.

[2020-04-14 10:52] guumaster opened #54 "AUR package hostctl-bin"
@BarbUk I've notice you added this: https://aur.archlinux.org/packages/hostctl-bin/. Does it need any automation?

[2020-04-14 10:53] BarbUk commented on #54
Yes, I was posting the news here: https://github.com/guumaster/hostctl/issues/14#issuecomment-613368980

[2020-04-14 10:55] BarbUk commented on #54
As for the automation part, you have to call your github action a second time for the bin package.
I don't know enough about github action to be sure, be let me know if I can help.

[2020-04-14 10:59] #54 closed

[2020-04-14 11:00] guumaster commented on #54
added the new step to publish binary package too. Thanks! :tada:

[2020-04-14 11:09] smhmd opened #55 "`--only` for `disable`"
for my use case, I find myself wanting to enable all profiles except one.
Could we have a `hostctl disable awesome --only`?

[2020-04-14 13:02] guumaster commented on #29
implemented on v1.0.5. Docs are [here](https://guumaster.github.io/hostctl/docs/guides/auto_completion/)

/cc @BarbUk

[2020-04-14 13:56] lethargosapatheia commented on #13
It doesn't seem to work (anymore?). Has anything changed? I added the tap and tried installing hostctl, but it still says that it cannot find the formula. Any suggestions?

[2020-04-14 14:10] guumaster commented on #13
@lethargosapatheia  this doesn't work anymore:
[code]

Do it like this:
[code]

No need to add the tap first.

[2020-04-14 14:33] lethargosapatheia commented on #13
Ah, I see! Thanks a lot. And great work, it's a really helpful tool, the need had been there for a long time!
I am going to dare suggest adding the brew information on the main documentation, so that other mac users know :)

[2020-04-14 14:55] guumaster commented on #13
It is documented [brew installation](https://guumaster.github.io/hostctl/docs/installation/#homebrew)

Please if you think there is something missing, create a new guide following [this tips](https://github.com/guumaster/hostctl/issues/44)

[2020-04-14 15:15] lethargosapatheia commented on #13
Nothing is missing, I just didn't see it, haven't search thoroughly enough. Thank you! :)

[2020-04-15 11:33] BarbUk opened #57 "Adding a new profile: Error: unknown profile name"
**Describe the bug**

Using the last version (binary or compiled), I can no longer add a new profile.

**To Reproduce**

With no profile named `test`

[code]

**Expected behavior**

Domain test.com is added in a newly created `test` profile

**System (please complete the following information):**
 - OS: Linux
 - Version:
[code]

[2020-04-15 14:09] guumaster commented on #57
I'll look into it, it fails with `add domains` and new profiles, if profile exists it works.

[2020-04-15 16:05] guumaster commented on #57
fixed on `v1.0.6`, not actually a bug, but added anyway.

[2020-04-15 16:05] #57 closed

[2020-04-15 16:09] #14 closed

[2020-04-15 19:11] guumaster commented on #55
I'll add it, although I'm not too happy with the semantics of `--only`, but I can't come up with better options.

[2020-04-15 19:20] smhmd commented on #55
What is it that you don't like about it? Would you go for `--exact` or `--one`?

What about `hostctl enable --all [profiles]` to enable all profiles except `[profiles]`? Doing away with `--only` in the process?

[code]

[2020-04-15 19:40] guumaster commented on #55
added on `v1.0.8`

[2020-04-15 19:40] #55 closed

[2020-04-15 19:43] smhmd commented on #55
@guumaster out-of-date https://aur.archlinux.org/packages/hostctl-bin/

[2020-04-15 19:51] smhmd commented on #42
`hostctl -v` still outputs `hostctl version dev` on my end (installed through the AUR).

highlighted line illustrates that I have a feature only available on `1.0.8` https://github.com/guumaster/hostctl/releases/tag/v1.0.8

![image](https://user-images.githubusercontent.com/46059092/79381904-92820480-7f5a-11ea-8da6-446079ef1652.png)

[2020-04-16 05:40] BarbUk commented on #42
Ldflags need to be updated following 007b4154c19923e1c59a53ca8d6e2ad4d471de62.

The update is available in https://aur.archlinux.org/cgit/aur.git/commit/?h=hostctl&id=42f1eed07bba06554ffb4f73a3ea9871771ba920

I did not update `pkgrel` to not break the package release automation.

@smhmd, you can reinstall the package or wait for the next release.

[2020-04-16 07:17] BarbUk commented on #42
@guumaster, your new [commit](https://aur.archlinux.org/cgit/aur.git/commit/?h=hostctl&id=675b6dc19bba3e43086615cc5fd6063e9653face) break the version passed via ldflags.

[2020-04-16 07:27] guumaster commented on #42
I fixed the goreleaser yml and also just updated the PKGBUILD file, can you confirm it works on Arch?

[2020-04-16 07:29] BarbUk commented on #42
yes:

[code]

[2020-04-16 07:33] #42 closed

[2020-04-16 07:33] guumaster commented on #55
fixed on v1.0.9. Thanks for reporting!

[2020-04-16 21:48] guumaster opened #58 "Add an UI"
I'm thinking on adding a simple UI. Maybe some Vue frontend and a web server to perform the updates.

Or maybe something more like [k9s](https://github.com/derailed/k9s)

Not sure if this should be splitted to a separate binary and keep it separate from core functionality.

[2020-04-16 21:52] smhmd commented on #58
I can help with the frontend: Vue, TailwindCSS.

[2020-04-16 23:31] guumaster opened #59 "Load profile from url"

[2020-04-16 23:44] guumaster opened #60 "Split binary into plugins"
Maybe it's a good idea to split the program in smaller components, example:
- hostctl (core)
- hostctl-docker
- hostctl-k8s
- hostctl-ui (or web)

A kind of plugin system or so. Not sure if there is any example on Go to checkout.

[2020-04-17 04:49] Fooughhy opened #61 "Add the ability to manage entries added from other applications"
**Is your feature request related to a problem? Please describe.**
This is a great tool, as the hosts file can be a b**ch to organize! The issue I am having is that I use tools to add entries to the hosts file and (maybe I simply do not understand the tool) would like to somehow manage these entries easily. I use tools like Spybot Anti-Beacon which automatically add entries specifically to the def

[2020-04-17 07:39] guumaster commented on #61
@Fooughhy thanks for taking the time to add this issue.

AFAIK the OS uses only one hosts file. What `hostctl` can do is import data from other files into the main hosts file. If you want to manage data added from other tools you can just wrap the lines with the profile header/footer like this:

[code]

If you have a `hosts.beacon` you can import it easily with `hostctl add beacon --from hosts.bea

[2020-04-17 08:33] Fooughhy commented on #61
Hi @guumaster ! Thanks for the reply!

What I meant was maybe more of an added functionality to hostctl, to be able to EASILY use and organize several hosts files. So that I can create a hosts.beacon file and have hostctl be able to incorporate that one into the regular one. Essentially use a pool of files, and run an "update" command for example to fetch the entries in these files. I could maybe

[2020-04-17 09:26] guumaster commented on #61
Is the anti-beacon tool rewriting `hosts` file content?

Can you describe your ideal layout of files and ideal way of working of `hostctl` for your use case?

[2020-04-17 14:45] smhmd commented on #61
@guumaster I think he's talking about https://github.com/guumaster/hostctl/issues/31, the ability to define a master profile from various profiles.

@Fooughhy, you conflict between describing your personal issue and your proposal. I think you should have used a far more minimal version of your personal issue to illustrate your feature request. And, perhaps, link to this anti-beacon tool. Could you

[2020-04-17 18:31] guumaster commented on #24
Here are some ideas

|  |
|:---------:|
| ![v1][v1] |
| ![v2][v2] |
| ![v3][v3] |
| ![v4][v4] |

[v1]: https://user-images.githubusercontent.com/765396/79601338-f1758400-80e8-11ea-8adb-43c4b7baa898.png
[v2]: https://user-images.githubusercontent.com/765396/79601342-f20e1a80-80e8-11ea-8a03-320d38e20d29.png
[v3]: https://user-images.githubusercontent.com/765396/79601344-f2a6b100-80e8-11ea-9198-0e8e9

[2020-04-17 18:44] guumaster opened #62 "more render targets"
Maybe is useful to render output as different targets like json, yaml, html and markdown.

Changing `tablewriter` to [go-pretty](https://github.com/jedib0t/go-pretty) could help.

[2020-04-18 06:28] Fooughhy commented on #61
@guumaster The anti-beacon tool is only adding entries, and it will recognize then even if I move them around.

@smhmd Yes, I know that my vision isn't clear and I didn't have that clear of a solution in mind when I wrote this.
Maybe I can split this up into several feature requests if I can be clear in my mind.

One problem, which maybe isn't the most important one, is that it would make the orga

[2020-04-18 07:38] guumaster opened #63 "Update asciinema/gif on README"
It is outdated with samples from v0.10. It must be updated and version both files as `hostctl.cast` and `hostctl.gif`

[2020-04-18 08:59] guumaster commented on #61
Thanks @Fooughhy for your patience. I get it better now.

Watching the `hosts` file is easy, but knowing to which profile copy new content is hard to infer.

Although, I think there is some changes that can be done to improve usage. We can add a cache of profiles for `hostctl` to store its content, this way the `update` feature you propose can be done.

Maybe if we have a layout like this:

[code]

[2020-04-18 09:16] Fooughhy commented on #61
I think it's you who has the patience while I figure out what **I** mean 👍
That is basically exactly what I mean. Even though it will introduce redundancy, it would make things clearer to work with.

What I want from the "added content from other tools" part is simply a parameter for the commands (such as ´hostctl add´) to MOVE content in a profile to another profile. Maybe this is the current fun

[2020-04-18 09:44] guumaster commented on #61
Well, my view is that the `default` profile has to be always left alone. `hostctl` will only handle things added with `hostctl` and any previous content will remain untouched, except on backup/restore actions.

Also, moving from one profile to another adds lots of complexity and I think it won't be a much used feature.

I'm not discarding anything yet, but we need to come up with an elegant soluti

[2020-04-18 12:47] smhmd commented on #61
@guumaster

I think you should use [`$XDG_CACHE_HOME`](https://wiki.archlinux.org/index.php/XDG_Base_Directory#Specification) (typically `$HOME/.cache/hostctl`, to not further clutter `$HOME`.)

You've talked about a config file before. One thing that you could consider is an event-based config file where you can define commands to run on events (e.g. `add`, `enable`, `disable --only`, etc.) on sp

[2020-04-18 19:26] #59 closed

[2020-04-18 19:26] #62 closed

[2020-04-20 04:14] Fooughhy commented on #61
@guumaster

Yeah, that was my feeling regarding the 'default' profile and it makes perfect sense. Maybe my needs are simply out-of-scope for this tool.
But I'm still wondering why adding a MOVE command would add that much complexity?
Also, does this tools include some kind of regex functionality? Otherwise I could see that helping with the MOVE command, and in THAT case it could add alot of comple

[2020-04-20 11:56] guumaster opened #64 "Add a better logger to stdout"
Add a common logger with coloring and TTY detection.

[2020-04-20 15:37] #64 closed

[2020-04-21 07:49] tokbes opened #65 "Multiple "DO NOT EDIT" comments in etc/hosts"
**Describe the bug**
Every time when run `add`/`replace` commands `hostctl` is adding 1 more header
[code]

**To Reproduce**
Steps to reproduce the behavior:
just run `hostctl replace -f /path/of/some/project/repo/.etchosts` few times

**Expected behavior**
don't add header if it's already exists

[2020-04-21 07:50] guumaster commented on #65
Thanks for reporting this, I'll look into it.

[2020-04-21 09:54] guumaster commented on #65
Fixed on version v1.0.11

[2020-04-21 09:54] #65 closed

[2020-04-23 10:13] spekulatius opened #67 "Display version number as part of --help"
Displaying the version number as part of `--help` could help to identify issues from different versions.

[2020-04-23 10:14] spekulatius commented on #58
Yeah, an ui similar to 'vue ui' would be great 👍️

[2020-04-23 10:36] guumaster commented on #67
`cobra` generate help info automatically, but there must be a way to add version info there.

[2020-04-23 11:09] spekulatius commented on #67
Yeah, not sure how to get it in - but would be neat to have it

[2020-04-23 16:49] guumaster commented on #67
Oh, I think this is already included in `hostctl -v|--version` also on the _soon to be released_ `hostctl info` with a nice banner.

[2020-04-23 19:53] spekulatius commented on #67
Oh yes. The updated version now includes the version number.

[2020-04-23 19:53] #67 closed

[2020-04-23 23:07] guumaster commented on #62
Add -o file to output same as the file format

[2020-04-24 07:38] guumaster commented on #60
I'll make a POC on a different repo [medusa-plugins](https://github.com/guumaster/medusa-plugins)

[2020-07-20 20:25] guumaster opened #70 "fix aur-publish step"
Something change on aur publish step and it is broken.

Check how to fix it. Here are the logs from the latest build:
https://github.com/guumaster/hostctl/runs/891503728?check_suite_focus=true

[code]

[2020-07-21 05:28] BarbUk commented on #70
`-mod=readonly` was added to follow the new go package guidelines: https://wiki.archlinux.org/index.php/Go_package_guidelines

`go help module` say:

automatic updating of go.mod described above. Instead, it fails when any changes
to go.mod are needed. This setting is most useful to check that go.mod does
not need updates, such as in a continuous integration and testing system.
The "go get" comman

[2020-07-21 06:46] guumaster commented on #70
I'm not sure if I'm doing something wrong, because I think the `go.sum` is updated. Before commit I'm doing this:
[code]

Not sure why it gets modified during build on the AUR action.

[2020-07-21 13:52] BarbUk commented on #70
There was no issue with the 1.0.11 release.
The 1.0.12 and 1.0.13 release don't have a correct go.sum.

With the last release, the package is building correctly if I make a `go mod tidy` before.
Doing so update the `go.sum` with new entry.

[2020-07-21 14:01] BarbUk commented on #70
My guess is `go mod tidy` is missing from the last release.

[2020-07-21 14:33] guumaster commented on #70
both `go.sum` and `go.mod` are push on v1.0.13 after update and a `go mod tidy`, not sure why it gets modified ran in my OS vs the Actions.

Between 1.0.11 and 1.0.12 there is [this commit](https://aur.archlinux.org/cgit/aur.git/commit/?h=hostctl&id=07faab81697ec326830ce05b4ac4d70cd58a4301) on PKGBUILD, but not sure if that can have any effect.

[2020-07-21 14:57] BarbUk commented on #70
With the last release, doing a `go mod tidy` on my system produce an updated go.sum.

If you check the diff, you can see that it's only new entries with a different version naming and a different checksum:
[code]

My go version is:
[code]

To fix the issue, we can:
 - update the go.sum in the release

Or

 - disable `-mod=readonly` in the pkgbuild.

[2020-07-21 15:12] guumaster commented on #70
I've tried that, same Go version, but it doesn't update. I pushed a new file with this trick:

`docker run --rm -v "${PWD}":/app -w /app golang:latest sh -c 'go get -t -u ./... && go mod tidy'`

That gets the `go.sum` file updated. Lets see if it builds now.

[2020-07-21 15:16] BarbUk commented on #70
Yes, the packages for 1.0.14 are correctly built.
Thanks.

[2020-07-21 15:19] guumaster commented on #70
Yes, it is weird. Not sure what I have different in my system though. But at least is built.

Thanks for the help!

[2020-07-21 15:19] #70 closed

[2020-07-21 18:18] guumaster commented on #60
instead of this, it may be a better option to simplify and reduce the API.

[2020-07-21 18:18] #60 closed

[2020-11-19 20:17] ddl-jbrown opened #71 "hostctl adds entries for the same domain + ip"
**Describe the bug**
hostctl appears to not be idempotent when it adds entries for the same domain + ip when run multiple times.

**To Reproduce**
Run this command multiple times (`--uniq` doesn't seem to make a difference)
[code]

Current behavior
[code]

**Expected behavior**
When running the command above, `/tmp/test-hosts` should only contain one uniq entry.

Example of what it should look lik

[2020-12-07 17:20] Zaffy opened #72 "Comments turn into entries"
**Describe the bug**

In [this][1] hosts file you can find the following line:

    # 0.0.0.0  www.youtube-nocookie.com #[affects various videos]

When you add the file with hostctl, it becomes:

    0.0.0.0 www.youtube-nocookie.com
    0.0.0.0 #[affects
    0.0.0.0 various
    0.0.0.0 videos]

**To Reproduce**

Download [the list][1] and add it via `hostctl add`

**Expected behavior**
Comments sh

[2021-03-01 10:13] hooklee2000 opened #73 "Support not etc/hosts config files,such as sysctl.conf and limits.conf"
I need also write configuration parameters  to some Linux config files such as sysctl.conf and limits.conf.
Can we add a flag such as --nohosts to disable verification?

[2021-03-02 04:50] hooklee2000 commented on #73
I wrote a bash script following the idea of hostctl.Thanks!

[2021-03-02 04:50] #73 closed

[2021-03-13 20:55] lukasmrtvy commented on #71
any progress on this ? thanks

[2021-07-13 09:17] #72 closed

[2021-07-13 10:23] guumaster commented on #71
@lukasmrtvy thanks for bringing up this issue. I'm working on a solution with the `--uniq` param. But I'm thinking if it should always treat the pairs domain/ip as unique per profile as default. What do you think?

[2021-07-13 11:05] #71 closed

[2021-07-13 11:45] guumaster commented on #71
Fixed on release v1.1.0. Thanks for the feedback!

[2021-08-02 08:45] yaohuangguan opened #75 "brew install guumaster/tap/hostctl does not work on Apple M1"
Error: Invalid formula: /opt/homebrew/Library/Taps/guumaster/homebrew-tap/hostctl.rb
formulae require at least a URL
Error: Cannot tap guumaster/tap: invalid syntax in tap!

[2021-08-02 08:56] guumaster commented on #75
Hi @yaohuangguan thanks for reporting this. The publication as a homebrew formula is handled by `goreleaser`.

It looks like this is a `goreleaser` issue only addressing `CPU.intel`.

The formulae is updated with the latest release here: https://github.com/guumaster/homebrew-tap/blob/master/hostctl.rb.

I'll check on `goreleaser` docs/issues to see if they've addressed this.

[2021-08-03 02:44] yaohuangguan commented on #75
what should i do in this case to work properly?

[2021-08-03 13:01] guumaster commented on #75
@yaohuangguan actually this is an issue with the tool to release versions, so no much you can do unless you know something about `goreleaser`. It'll take some days until I get time to investigate further.

In the meantime, you can try the binary that are generated here: https://github.com/guumaster/hostctl/releases/tag/v1.1.0

[2021-09-01 13:00] Fontinalis commented on #75
@guumaster The above mentioned command does not work, but the binary does! Thanks for the fix and great work on this project! 👍🏻

[2021-12-08 03:04] frob commented on #75
I added a PR to the guumaster/homebrew-tap repo that will add the ARM release to macos. This should make hostctl installable with homebrew on M1 macs.

[2021-12-08 10:05] #75 closed

[2021-12-08 10:06] guumaster commented on #75
I've merged it, but I'm afraid that file is automatically updated by `go-releaser` GitHub action though

[2021-12-17 06:42] Strandedpirate opened #77 "v1.1.1 - Access Denied on Windows 10 while running as administrator"
Running a command prompt as admin and getting access denied error.

Using latest v1.1.1

My local account is in the Administrators group.

This is due to running your utility from a non-C drive; which fails. If I run it from the c:\ drive it succeeds. This is long standing bug in the GO language related to paths that is causing this. I posted about this a long time ago on another open source proje

[2021-12-19 00:16] Strandedpirate commented on #77
Debugged with Visual Studio Code and the root cause of the access denied error was because Norton Antivirus detecting this program as "suspicious" and blocking it silently. oof.

Simply excluding it from Norton's block list did the trick.

[2021-12-19 00:16] #77 closed

[2021-12-20 08:19] guumaster commented on #77
thanks for reporting this anyway.

[2022-03-03 04:37] gintering1000 opened #78 "i really want to use this by yum or dnf."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-03-03 09:15] guumaster commented on #78
I'll check how to add and `rpm` package to `goreleaser`. Thanks

[2022-03-08 12:03] Zaffy opened #79 "runtime error"
**Describe the bug**

A line in hosts file causes runtime error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

The line should be treated as comment and not crash.

**System (please complete the following information):**
 - archlinux
 - aur / hostctl version 1.1.1

[2022-03-13 14:40] mattkasun opened #81 "SegFault - profile.RemoveHostNames -"
[crash.go.txt](https://github.com/guumaster/hostctl/files/8239851/crash.go.txt)
**Describe the bug**
profile.RemoveHostNames() does not update profile.IPList and will result in a segfault during a file.Flush()

**To Reproduce**
run crash.go

**Expected behavior**
host file is updated

**Screenshots**
[code]

**System (please complete the following information):**
[code]

**Additional context**
PR

[2022-03-16 09:57] #81 closed

[2022-03-30 08:15] nick81nrw opened #83 "Windows 11 profiles are not set"
**Describe the bug**
On Windows 11 hostctl do not set or list profiles when use "add/list" command. It seems to be a parsing error in hosts file.

I use [Netmaker ](https://github.com/gravitl/netmaker/) on Windows and hostctl sets every few minutes new entries in hosts file. Netmaker gets other peers IP addresses over mqtt and set hosts entries with hostctl

**To Reproduce**
Steps to reproduce the

[2022-06-22 10:38] Nudin opened #84 "Extremely slow for large files"
**Describe the bug**
I tried to use the [hosts file from StevenBlack](https://github.com/StevenBlack/hosts) with hostctl. When importing it, it takes 16 minutes.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
I expected it to be imported in a number of seconds.

**System (please complete the following information):**
 - OS: Linux
 - Version: latest Arch

[2022-06-22 10:40] Nudin commented on #84
After importing this, all operations take that long…

[2022-06-22 14:18] guumaster commented on #84
Hi @Nudin the file is 3.25Mb of entries. This tool may no be the best for this task, as it is parsing the whole file each time you run a command. It'll need to be re-written entirely to handle that kind of content.

[2022-07-13 17:36] abarani commented on #75
Just want to chime in to say that the current macOS release still does not work on Apple Silicon without Rosetta installed.

Apple Silicon support has only landed in Go 1.16: https://go.dev/doc/go1.16#darwin
Bumping Go version to 1.16 from the current 1.14 should build a correct darwin arm64 binary file.

[2022-08-24 13:34] #84 closed

[2022-08-24 14:19] #79 closed

[2022-08-24 14:26] guumaster commented on #79
fixed in v1.1.3  Thanks for reporting!